
.popup-container {
    position: fixed;
    top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 20rem;
    z-index: 50;
    pointer-events: none;
  }
  
  .popup-content {
    padding: 0.8rem 5rem;
    padding-top: 1.2rem;
    border-radius: 12px;
    text-align: center;
    border: none; 
    font-size: 1.125rem;
    font-weight: 600;
    transition: opacity 1s ease-in-out;
  }

  .fade-out{
    opacity: 0;
  }
  